#film-dialog {
  .form-group {
    margin: 5px !important;
    .ui-inputtext {
      height: 35px !important;
    }
    .form-control {
      height: 35px !important;
      line-height: 35px !important;
      padding: 0 !important;
    }
  }
}
